{
    "Client": {
                "host": "127.0.0.1",
                "port": 9091,
                "credentials": true,
                "username": "admin",
                "password": "adminadmin"
    },
    "General": {
                "prefix": {
                            "categories": "@",
                            "tiers": "%",
                            "tags": "#"
                },
                "tiers": {
                            "number": 9
                }
    },
    "Tiers": {
                "free": {
                          "seed_idle_limit": 30,
                          "seed_idle_mode": 2,
                          "seed_ratio_limit": 2,
                          "seed_ratio_mode": 2,
                          "upload_limit": 100,
                          "upload_limited": false
                },
                "0": {
                        "seed_idle_limit": 30,
                        "seed_idle_mode": 2,
                        "seed_ratio_limit": 5,
                        "seed_ratio_mode": 1,
                        "upload_limit": 500,
                        "upload_limited": true
                },
                "1": {
                        "seed_idle_limit": 30,
                        "seed_idle_mode": 2,
                        "seed_ratio_limit": 10,
                        "seed_ratio_mode": 1,
                        "upload_limit": 450,
                        "upload_limited": true
                },
                "2": {
                        "seed_idle_limit": 30,
                        "seed_idle_mode": 2,
                        "seed_ratio_limit": 15,
                        "seed_ratio_mode": 1,
                        "upload_limit": 400,
                        "upload_limited": true
                },
                "3": {
                        "seed_idle_limit": 30,
                        "seed_idle_mode": 2,
                        "seed_ratio_limit": 20,
                        "seed_ratio_mode": 1,
                        "upload_limit": 350,
                        "upload_limited": true
                },
                "4": {
                        "seed_idle_limit": 30,
                        "seed_idle_mode": 2,
                        "seed_ratio_limit": 25,
                        "seed_ratio_mode": 1,
                        "upload_limit": 300,
                        "upload_limited": true
                },
                "5": {
                        "seed_idle_limit": 30,
                        "seed_idle_mode": 2,
                        "seed_ratio_limit": 30,
                        "seed_ratio_mode": 1,
                        "upload_limit": 250,
                        "upload_limited": true
                },
                "6": {
                        "seed_idle_limit": 30,
                        "seed_idle_mode": 2,
                        "seed_ratio_limit": 35,
                        "seed_ratio_mode": 1,
                        "upload_limit": 200,
                        "upload_limited": true
                },
                "7": {
                        "seed_idle_limit": 30,
                        "seed_idle_mode": 2,
                        "seed_ratio_limit": 40,
                        "seed_ratio_mode": 1,
                        "upload_limit": 150,
                        "upload_limited": true
                },
                "8": {
                        "seed_idle_limit": 30,
                        "seed_idle_mode": 2,
                        "seed_ratio_limit": 45,
                        "seed_ratio_mode": 1,
                        "upload_limit": 100,
                        "upload_limited": true
                },
                "9": {
                        "seed_idle_limit": 30,
                        "seed_idle_mode": 2,
                        "seed_ratio_limit": 50,
                        "seed_ratio_mode": 1,
                        "upload_limit": 50,
                        "upload_limited": true
                }
    }
}